TENSORSTEAD_MGMT_TOKEN={{ tensorstead_management_token }}
TENSORSTEAD_AGENT_CA_BUNDLE={{ tensorstead_agent_ca_bundle }}
TENSORSTEAD_STORE={{ tensorstead_coordinator_store }}
TENSORSTEAD_CREDENTIALS_DIR={{ tensorstead_coordinator_credentials_dir }}
